
<div class="outer_sidebar">
    <div class="text-center mt-2">
        <img src="~/Images/Shared/elogo-modified.png" width="70px" alt="logo">
    </div>

    <ul class="sidebar_content">

        <li>
            <a class="active_sidebar" id="home" href="/Home/Index">
                <img src="~/Images/Shared/home.svg" alt="home">
                الرئيسية
            </a>
        </li>

        <li>
            <a id="products" href="#">
                <img src="~/Images/Shared/Suppliers-requests.svg" alt="products">
                المنتجات
            </a>
        </li>

        <li class="logout">
            <a href="/User/Logout">
                <img src="~/Images/Shared/logout.svg" alt="logout">
                تسجيل الخروج
            </a>
        </li>
    </ul>

</div>